*{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

body {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://prd-sc102-cdn.rtx.com/-/media/pw/newsroom/multimedia/regional-aviation-engines/images/close-up-2_pw150a_qld_p_001.jpg?rev=-1') no-repeat center center fixed;
    
}
/* Background image with transparency */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    background-size: cover;
    opacity: 0.65;
    z-index: -1;
  
}
.center {
    display: flex;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,.2);
}
#center {
    padding: 30px;
    
    text-align: center;
    border-radius: 20px;
    background: #0365b0b3 !important;
    box-shadow:  8px 8px 12px #035a9d5c,
             -8px -8px 12px #0370c322;
    margin: 0 20px;
}
.center div {

    padding: 10px 15px;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 10px 10px 20px rgba(0,0,0,.2);
    margin: 0 20px;
}
.center div:hover {
    background-color: rgba(0, 0, 0, 0.1);
  
}
h1 {
    font-size: 40px;
    color: rgb(250, 250, 250);
}
h3
{
    color: rgb(255, 255, 255);

    font-size: 25px;
}
.center a {
    text-decoration: none;

}
.lpt {
    background-color: rgba(90, 90, 225, 0.488);
    color: white !important;
}
.lpt a {
    color: white !important;
}
.hpt {
    background-color: rgba(230, 233, 25, 0.677);
    color: white !important;
}
.hpt a {
    color: rgb(0, 0, 0) !important;
}
.pt {
    background-color: rgba(8, 85, 55, 0.448);
    color: white !important;
}
.pt a {
    color: rgb(255, 255, 255) !important;
}